.react_toast_mask {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1999;
    max-width: 80%;
    display: none;
}

.react_toast_mask.active {
    display: block;
    animation: fadeIn 0.8s linear;
}

.react_toast_mask.block {
    display: block;
}

.react_toast_message {
    min-width: 95px;
    line-height: 1.5;
    padding: 10px 12px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.86);
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.react_toast_message span {
    text-align: justify;
    word-break: break-all;
    font-size: 16px;
    color: #fff;
}


.react_toast_mask_loading .react_toast_message {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.react_toast_mask_loading .react_toast_message span {
    font-size: 14px;
}

.react_toast_mask svg {
    display: block;
    margin: 0 auto;
}

.react_toast_mask svg+span {
    padding-top: 10px;
    display: block;
}

.rotate {
    animation: rotate 1s infinite linear;
    transform-origin: center center;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
